// import styled from 'styled-components';

// export const Test = styled.div`
//  display: flex;
// `;
//

.SideBarWrapper {
    min-height: 100%;
    flex: 1;
    // padding:10px;
    border-right: 0.3px solid gray;
    display: flex;
    flex-flow: column;
    justify-content: flex-start;
    position: sticky;
    .logo {
        width: 100%;
        padding-left: 30px;
        padding-right: 30px;
        height: 56px;
        background: #23232e;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        p {
            margin: 0;
            // color:tomato;
            font-weight: 700;
        }
    }
}

.NavigationBar {
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    cursor: pointer;
    border-bottom: 0.3px solid gray;
    p {
        font-weight: 700;
    }
    &:hover {
        border-bottom: 0.3px solid tomato;
        color: tomato;
    }
}
